/* Styles TodoList Component */
.todo-list_container {
	position: relative;
	width: 50%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	padding: 0 10px;
}

.todo-list_container ul {
	border-radius: 5px;
	list-style: none;
	margin-top: 25px;
	padding: 0;
}

.todo-list_container ul li {
	align-items: center;
	background: var(--bg-color-secondary);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	position: relative;
	padding: 0 15px;
	width: 100%;
}

.todo-list_container ul li p span {
	color: var(--text-color);
	font-weight: 500;
	text-shadow: 0 0 10px var(--text-color), 0 0 10px var(--text-color);
	margin-right: 5px;
}

.todo-list_container ul li p.complete {
	text-decoration: line-through;
	opacity: 0.6;
}

.todo-list_container ul li p.complete span {
	text-shadow: none;
}

.todo-list_container ul .action-buttons h5 {
	color: var(--text-color);
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	margin-top: 10px;
	text-align: center;
	text-shadow: 0 0 10px var(--text-color), 0 0 10px var(--text-color);
}

.todo-list_container ul .action-buttons button i {
	font-size: 20px;
	font-weight: 200;
}

.todo-list_container ul .action-buttons button {
	background: none;
	cursor: pointer;
	margin: 10px;
	margin-bottom: 15px;
	transition: all 0.3s ease-in;
}

.todo-list_container ul .action-buttons button.complete {
	color: #14eb00;
}

.todo-list_container ul .action-buttons button.complete:hover {
	text-shadow: 0 0 10px #14eb0080, 0 0 10px #14eb0080;
}

.todo-list_container ul .action-buttons button.delete {
	color: #ff1f1f;
}

.todo-list_container ul .action-buttons button.delete:hover {
	text-shadow: 0 0 10px #ff1f1f80, 0 0 10px #ff1f1f80;
}

@media screen and (max-width: 980px) {
	.todo-list_container {
		width: 100%;
		height: 80%;
	}
}

@media screen and (max-width: 600px) {
	.todo-list_container {
		height: 70%;
	}
}
