/* Styles TodoAdd Component */
.form-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 40%;
}

.form-container form {
	align-items: center;
	background: var(--bg-color-secondary);
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	display: flex;
	height: 70px;
	margin-top: 25px;
	padding: 0 20px;
	position: relative;
}

.form-container form input {
	background: var(--bg-color);
	border-radius: 5px;
	box-shadow: 0 0 5px #00000080;
	color: #dedede;
	font-size: 17px;
	font-weight: 500;
	height: 40px;
	margin-right: 5px;
	padding: 0 10px;
	text-transform: capitalize;
	width: 80%;
}

.form-container form input::placeholder {
	color: #dedede90;
}

.form-container form button {
	background: var(--bg-color);
	border-radius: 5px;
	color: #dedede;
	cursor: pointer;
	font-size: 17px;
	font-weight: 600;
	height: 40px;
	letter-spacing: 1px;
	padding: 0 15px;
}

@media screen and (max-width: 980px) {
	.form-container {
		width: 100%;
		margin-bottom: 50px;
	}
}
